apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app1-chart.fullname" . }}
  labels:
    {{ include "app1-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{ include "app1-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{ include "app1-chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: {{ include "app1-chart.fullname" . }}-config
            - secretRef:
                name: {{ include "app1-chart.fullname" . }}-secret
